[[source]]
url = "https://pypi.douban.com/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"

[packages]
torequests = "*"
responder = "*"
aiomysql = "*"

[requires]
python_version = "3.7"
