[[source]]
url = "http://pypi.douban.com/simple/"
verify_ssl = false
name = "pypi"

[dev-packages]
pytest = "*"
flake8 = "*"
yapf = "*"

[packages]
uvloop = {version = "*", sys_platform = "!= 'win32'"}
torequests = ">=4.8.8"
responder = "*"
aiomysql = "*"
lxml = "*"
cssselect = "*"

[requires]
python_version = "3.7"
