[[source]]
url = "https://pypi.douban.com/simple/"
verify_ssl = false
name = "pypi"

[dev-packages]
pytest = "*"
flake8 = "*"
yapf = "*"

[packages]
uvloop = {version = "*",sys_platform = "!= 'win32'"}
torequests = ">=4.8.10"
starlette = "*"
uvicorn = "*"
aiomysql = "*"
lxml = "*"
cssselect = "*"
async-lru = "*"
aiofiles = "*"
jinja2 = "*"

[requires]
python_version = "3.7"
